* {
    font-family: Gabarito;
}
body {
    padding: 0px !important;
    margin: 0px !important;
    background-color: white;
    width: 100vw;
}
.logo{
    width: 80px;
}
.heads {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    min-height: 70px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.heads2 {
    background-color: #353535;
    width: 100%;
    min-height: 70px;
    padding: 10px;
   
}

.heads-container {
    width: 1100px;
    margin: auto;

}
.nav {
    width: 50vw;
    float: right;
    text-transform: capitalize;
}
.nav ul {
    list-style: none;
    display: flex;
    color: white;
    text-transform: capitalize;
    float: right;
    
}
.nav ul li {
    width: auto;
    padding: 10px;
    text-transform: capitalize;
}

.nav ul li .dropdown ul{
    display: none;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.dropdown-content {
    display: none ;
    background-color: #353535;
    position: absolute;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    float: left;
  }

  .dropdown-content10 {
    display: none ;
    background-color: teal;
    position: absolute;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    float: left;

  }
  .nav ul .dropdown-content {
    margin: 0;
    padding: 0;
    border: none;

  }

  .nav ul .dropdown-content10 {
    margin: 0;
    padding: 0;
    border: none;

  }
  
  .nav ul .dropdown {
    margin: none;
    border: none;
    text-decoration: none;
  }
  .dropdown:hover .dropdown-content {display: block;}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 0px;
    text-decoration: none;
    display: block;
    background-color: #353535;
    border: none;
  }

  .dropdown-content li {
    padding: 0px;

  }
  
   .dropdown:hover .dropdown-content{  
    margin-top: 10px;
}

.dropdown .dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content10 {display: block;}

  /* Links inside the dropdown */
  .dropdown-content10 a {
    color: white;
    padding: 0px;
    text-decoration: none;
    display: block;
    background-color: teal;
    border: none;
  }

  .dropdown-content10 li {
    padding: 0px;

  }
  
   .dropdown:hover .dropdown-content10{  
    margin-top: 10px;
}

.dropdown .dropdown-content10{
    display: none;
}

.nav ul li a:hover{
    color: #DB353A;
    transition: 0.5s ease-in-out;
}

.nav ul li.dropdown:hover{
    color: #DB353A;
    transition: 0.5s ease-in-out;
}
/*
.nav_link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: teal;

}

.nav_link a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.nav_link a:hover {
    background-color: lightcoral;
}

.hide {
    display: none;
}*/

.slide{
    width: 100%;
    height: 700px;
    background:url("../assets/images/signup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.txt{
    align-items: left;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    padding-top: 180px;
    width: 100%;
    font-weight: 50px;
    text-align: center;
}
.txt h2{
    /* border: 1px solid red; */
    text-align: left;
    letter-spacing: 4px;
    font-size: 50px;
}

.hero-btn{
    height: 6vh;
    padding: 0px 65px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: #DB353A;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin:auto;
    margin-top: 50px;
    margin-left: 150px;
}

.hero-btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.col{
    width: 100%;
}

.text-center{
    text-align: center;
    justify-content: center;
}

p.intro{
    color: white;
    font-size: 20px;
    text-align: left;
    max-width: 500px;

  }

  .slide-text{
    padding-left:120px;
  }

.overlay{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
  }

  footer{
    background-color: #353535;

    width: 100%;
    height:80px;
    display: flex;
}

.logo1{
    width: 1100px;
    margin: auto; 
}
.foots{
    width: 100%;
    font-size: 13px;
    color: white;
}

.p-10{
    padding: 10px;
}


.p-20{
    padding: 10px;
}

.pl-10{
    padding-left: 10px;
}

.pr-10{
    padding-right: 10px;
}

.push-right{
    float: right;
}

.push-left{
    float: left;
}

.container{
    margin: auto;
    width: 1100px;
}

.content-body{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    display: inline-flex;
}
.col-25{
    width: 25%;
    height: 400px;
    padding: 5px;
}


.col-33{
    width: 33.3%;
    height: 400px;
    padding: 5px;
}

.col-8{
    width: 58%;
}


.col-4{
    width: 39%;
}

.col-card{
    border: 1px solid #ccc;
}


.cat-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: #eee;
    width: 100%;
    height: 100%;
   
}

.f-20{
    font-size: 20px;
}

.mt-10{
    margin-top: 10px;
}


.mt-20{
    margin-top: 20px;
}


.mb-100{
    margin-bottom: 100px;
}


.mt-100{
    margin-top: 100px;
}


.mt-200{
    margin-top: 200px;
}


.mt-300{
    margin-top: 300px;
}


.mt-250{
    margin-top: 250px;
}

.cat-btn{
    height: 6vh;
    padding: 0px 65px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: #DB353A;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin:auto;
    margin-top: 5px;
}

.faqs-container {
    /* border-style: dotted; */
    background-color: #f4f3f3;
    margin-top: auto;
    
    padding: 20px 20px;
    /* background-image: url(/images/backimage2.jpg); */
    background-repeat: no-repeat;
    /* width: 100%; */
  background-size: cover;
  /*margin: 85px auto;
  /* background-position: center; */
  display: block;

}

a {
    color: black;
    text-transform: uppercase;
}

a :hover {
    color: blue;
}
.faqs{
    margin-bottom: 0px;
}

.question {
    margin-top: 30px;
    color: red;
    font-style: oblique;
    font-size: larger;
    font-weight: 500;
    font-size: 20px;
}

.question-wrapper {
    /* Remove white-space: nowrap; and other unnecessary styles */
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    width: auto;
    /* font-size: xx-large; */
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
}

.answer {
    border: 1px solid #000;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    border-radius: 25px;
    line-height: 1.9;
    /* color: blue; */
}
.answer:hover {
    background-color: teal;
    transition: ease-in-out ;
    color: white;   
}

.answer a {
    color: blue;
}


.card{

    width: 90%;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding:5px;
    margin: 10px;

}

 

.card img{

    height: 200px;
    width: 100%;

}

 

.desc{

    padding: 15px;

    opacity: 0.8;

 

}

 

.title{

    font-weight: 900;
    font-size: 20px;
    color:#424144;
   

}

 

.box{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

}

 

.price{

    color: #f63e4e;

    font-size: 20px;

    font-weight: bold;

}

 

.btn{

    font-size: 13px;

    background-color:#f63e4e;

    padding: 10px 18px;

    font-weight: 900;

    border:1px solid #f63e4e;

    border-radius: 20px;

    color: white;

}

.btn:hover {
    color: #f63e4e;
    border: 2px solid grey;
    background-color:green;
}

.products{
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%, 1fr));

}

.form-box{
    width: 100%;
    min-height: 450px;
    padding: 20px;
}

.signin-back{
    background-image: url("../assets/images/oneshoplogo.png");
    background-size: cover;
}

.signin-back h1{
    margin: 0px;
}

.form-control{
    width: 75%;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;

}

.form-container{
    background-color: rgba(255,255,255,0.4);
    padding: 50px;
    width: 30%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


.cart-container{
   
    padding: 50px;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


.input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-table{
    width: 100%;
   border-collapse: collapse;
   border: 1px solid #ddd;
}

.cart-table tr{
    padding: 15px;
    min-height: 20px;
}


.cart-table td, th{
    padding: 15px;
    width: auto;
}

.table-head-row{
    background-color: #ccc;
}

.total-section{
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #ddd;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
}

a:hover{
    color:#DB353A;
}

.cart-buttons a:hover{
    color:white;
}

.total-table{
    width: 100%;
}

.total-table td, tr, th{
    text-align: left;
}

.hamburger {
    padding: 20px;
    cursor: pointer;
    float: right;
    margin-right: 25px;
    display: none;
    

}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
}


/*media screens 
@media screen and (max-width: 2150px) {
    .hamburger {
        display: none;
    }
}*/

@media screen and (max-width: 1024px) {
    
    body {
        width: 100%;
    }

    .heads, .heads2 {
        width: 100%;
    }
    .heads-container {
        width: 100%;
    }
    
    .slide {
        width: 100%;
    }
    .container {
        justify-content: center;
        width: auto
    }
    .overlay {
        width: 100%;
    }
    .nav {
        float: right;
        margin-right: 50px;
    }

    .logo {
        padding-left: 20px;
    }

    .logo1 {
        width: 100%;
    }

    .foots {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .cart-container{
        margin-left: 120px;
        width: 100%;
    }

    .content-body {
        width: 90%;
        justify-content: center;
        padding-left: 50px;
    }

    .hamburger{
        display: none;
    }

    .push-right {
        margin-right: 50px;
    }
    .logo1 .p-10 {
        width: auto;
    }

    .container {
        height: auto;
    }
}

@media screen and (max-width: 768px ) {
    
    .hamburger {
        display: none;
    }

    .total-section {
        margin-bottom: 400px;
        float: none;
        width: 400px;
    }

    .total-table {
        float: none;
    }

    .cart-container {
        display: block;
        margin-left: 120px;
        width: 100%;
    }

    .cart-table {
        width: 100px;
    }

    .cart-table-wrap {
        width: 100px;
    }

    .col-8 .col-card {
        width: 200px;
    }

    .table-head-row {
        width: 200px;
    }
    .total-table td, tr, th {
        width: 200px;
    }
}

@media screen and (max-width: 414px ) {
    .cart-container {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .total-section {
        width: 300px;
    }

    .total-table td, tr, th {
        width: 100px;
    }

    .cart-table {
        width: 80px;
    }

    .cart-table-wrap {
        width: 80px;
    }

    .col-8 .col-card {
        width: 80px;
    }

    .table-head-row {
        width: 100px;
    }

    .products {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10px;
        padding-right: 15px;
    }
}
/*
    .heads {
        width: 73%;
    }

    .heads-container {
        width: 100%;
    }

    .slide {
        background-position-x: center;
        width: 110%;
    }
    
    .slide-text {
        padding: 50px;
        text-align: center;
        
    }

    .slide-text h2, p, .intro{
        text-align: center;
    }

    p.intro{
        margin-left: 100px;
    }

    .container {
        width: 100%;
    }

    .col-25 {
        width: 45%;
        flex: 0 0 auto;
    }

    .content-body {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .cat-btn {
        padding: 0 30px;
    }
    .hamburger {
        display: none;
    }
    .hero-btn {
        margin-left: 75px;
    }
    
}   /*
    .overlay {
        width: 110%
    }
    .logo1 .p-10 {
        width: 110%
    }
    
}

@media screen and (min-width: 600px) {
    
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;

    }
   
    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

.container {
    padding: 15px;
    max-width: 1024px;
    margin: 0 auto;

}

@media screen and (min-width: 768px ) {
    
    .hamburger {
        display: none;
    }
}
/*
    .heads {
        width: 73%;
    }

    .heads-container {
        width: 100%;
    }

    .slide {
        background-position-x: center;
        width: 110%;
    }
    
    .slide-text {
        padding: 50px;
        text-align: center;
        
    }

    .slide-text h2, p, .intro{
        text-align: center;
    }

    p.intro{
        margin-left: 100px;
    }

    .container {
        width: 100%;
    }

    .col-25 {
        width: 45%;
        flex: 0 0 auto;
    }

    .content-body {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .cat-btn {
        padding: 0 30px;
    }
    .hamburger {
        display: none;
    }
    .hero-btn {
        margin-left: 75px;
    }
    
}   /*
    .overlay {
        width: 110%
    }
    .logo1 .p-10 {
        width: 110%
    }
    .cat-container{
        width: 110%;
    }
}*/
@media screen and (max-width: 414px) {
    .hero-btn {
       margin-left: auto; 
    }

    .overlay {
        width: 100%;
    }

    .heads, .heads2 {
        max-width: 414px;
    }

    .hamburger {
        display: block;
    }

    .nav_link {
        display: none;
    }

    .slide{
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slide-text {
        padding-left: 40px;
    }

    .hero-btn {
        margin-left: 70px;
    }

    .container {
        width: 100%;
    }
    
    .container h1{
       font-size: 24pt;
    }
    
    .col-25 {
        width: 98%;
        flex: 0 0 auto;
    }
    
    .content-body {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10px;
        padding-right: 15px;
    }
    
    .cat-btn {
        padding: 0 30px;
    }
    
    .hero-btn {
        margin-left: 50px;
    }

    p.intro {
        padding-right: 40px;
    }
    
}